<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="NJUJLXYOpenCoursePlatform.DAL.Properties.Settings.NJUJLXYOpenCoursePlatformConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Repositories\GitHub\NJUJLXYOpenCoursePlatform\NJUJLXYOpenCoursePlatform.Web\App_Data\NJUJLXYOpenCoursePlatform.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>